{% extends "libapp/base.html" %}

{% block content %}
    <h1>Authors</h1>

    {% if author_list %}
    <table class="table">
	
      {% for author in author_list %}
        <tr>
        <td><a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a></td>
        <td><a href="{% url 'author_update' author.id %}">Update</a></td>
		<td><a href="{% url 'author_delete' author.id %}">Delete</a></td>
        </tr>
	  {% endfor %}
	  
    </table>
    {% else %}
      <p>There are no authors.</p>
    {% endif %}       
{% endblock %}