{% extends "libapp/base.html"  %}

{% block content %}
<p>If you don't have an authors, create an author first<p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <input type="submit" id="submit" value="Submit" />
</form>
{% endblock %}
